<ion-header>
  <ion-toolbar>
    <ion-title>
      Send SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Number</ion-label>
    <ion-input [(ngModel)]="messageData.number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Message</ion-label>
    <ion-textarea [(ngModel)]="messageData.message"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="sendSms()">send SMS</ion-button>
</ion-content>
